<footer id = "contact" class="footer" style="background-image: url('assets/img/bg-footer.jpg')">
  <div class="container text-center">
    <div class="row">
      <!--<div class="col-md-4 contact-details">-->
      <!--<h4><i class="fa fa-phone"></i> Call</h4>-->
      <!--<p>555-213-4567</p>-->
      <!--</div>-->
      <div class="col-md-6 contact-details">
        <h4><i class="fa fa-map-marker"></i> Visit</h4>
        <p>1143 Budapest
          <br>Stefánia út 2.</p>
      </div>
      <div class="col-md-6 contact-details">
        <h4><i class="fa fa-envelope"></i> E-mail</h4>
        <p><a href="mailto:teampassion.sys@gmail.com">teampassion.sys@gmail.com</a></p>
        <p><a href="mailto:erus.gulyas@gmail.com">erus.gulyas@gmail.com</a></p>
        <p><a href="mailto:sarkozi.bettina@gmail.com">sarkozi.bettina@gmail.com</a></p>
      </div>
    </div>
    <div class="row social">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li><a href="https://www.facebook.com/Team-Passion-Team-Hungary-114451771912591/"><i class="fa fa-facebook-square fa-fw fa-3x"></i></a></li>
          <li><a href="https://www.instagram.com/teampassion_hun/"><i class="fa fa-instagram fa-fw fa-3x"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row copyright">
      <div class="col-lg-12">
        <p class="small">&copy; 2016 Team Passion</p>
      </div>
    </div>
  </div>
</footer>
