<modal class="portfolio-modal modal fade" #modal tabindex="-1" role="dialog" aria-hidden="true" style="background-image: url('assets/img/bg-team-modal.jpg')">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <modal-body *ngIf="member" class="modal-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h2>{{member.name}}</h2>
            <hr class="colored">
            <img src="{{profileImageUrl}}" class="img-responsive img-circle portfolio-image" alt="">
            <div class="row">
              <h4 align="right" class="col-xs-6">Születési dátum</h4>
              <div align="left" class="col-xs-6">{{member.birthDay | date}}</div>
            </div>
            <div class="row">
              <h4 align="right" class="col-xs-6">Város</h4>
              <div align="left" class="col-xs-6">{{member.birthPlace}}</div>
            </div>
            <div class="row">
              <h4 align="right" class="col-xs-6">Korcsolyázás kezdetének éve</h4>
              <div align="left" class="col-xs-6">{{member.startSkate}}</div>
            </div>
            <div class="row">
              <h4 align="right" class="col-xs-6">Korcsolyás előélet</h4>
              <div align="left" class="col-xs-6">{{member.past}}</div>
            </div>
            <div class="row">
              <h4 align="right" class="col-xs-6">Passion-höz csatlakozás éve</h4>
              <div align="left" class="col-xs-6">{{member.joinPassion}}</div>
            </div>
            <hr class="colored">
            <h4 *ngIf="member.questions">Miért szinkronkorcsolya?</h4>
            <p>{{member.questions[0].question}}</p>
            <hr class="colored">
            <h4 *ngIf="member.questions.length > 1 ">Legjobb korcsolyás élmény</h4>
            <p *ngIf="member.questions.length > 1">{{member.questions[1].question}}</p>
            <hr class="colored">
            <h4 *ngIf="member.questions.length > 2">Hobbi</h4>
            <p *ngIf="member.questions.length > 2">{{member.questions[2].question}}</p>
          </div>
          <div class="col-lg-8 col-lg-offset-2">
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Vissza</button>
          </div>
        </div>
      </div>
    </modal-body>
  </div>
</modal>
