<div class="about">
  <section id="about">
    <div class="container wow fadeIn">

      <div class="col-md-12 text-center">
        <h1>A csapatunkról</h1>
        <hr class="colored">
      </div>
      <div class="row">
        <div class="col-xs-6">
          <h3 align="right"><a href="#team">Tagjaink</a></h3>
        </div>
        <div class="col-xs-6">
          <h3 align="left"><a href="#coaches">Edzőink</a></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6 text-center">
          <p><i><font size="+3">„Kell egy csapat!”</font></i></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 about-image">
          <div class="about-image">
            <img src="assets/img/about.jpg" class="img-responsive" alt="">
          </div>
        </div>
        <div class="col-md-6 text-center">
          <p>Csapatként jégre lépni talán a legnehezebb feladat. Nemcsak saját magadért, hanem még tizenkilenc másik emberért is felelős vagy. Egy hiba sem fér bele, hiszen ha te hibázol, a csapat is hibázik. Viszont ha győzünk, csapatként győzünk, csapatként állunk fel a dobogóra. Abban a néhány percben egységként kell maradandót alkotni. Hogy ez 2016-ra komoly eredményt hozzon, hosszú utat tett meg a Team Passion.</p>
          <p>A magyar szinkronkorcsolya-válogatott 2007 nyarán Team Passion néven alakult meg azzal a céllal, hogy Magyarország egy ütőképes csapattal képviselje magát a 2008-as hazai rendezésű világbajnokságon. A válogatott elérte célját, az addigi legjobb magyar eredményt felülmúlva a 14. helyen végzett a világbajnokságon, s ezzel új lehetőségek nyíltak meg a csapat előtt.</p>
          <p>A Team Passion Miskolcon, az ország akkori legnagyobb szinkronkorcsolya bázisán töltötte felkészülési idejének nagy részét, majd Budapestre költözött a csapat. A leküzdendő akadályok száma egyre csak nőtt, és harcoltunk azért, hogy a csapat, valamint a sportág életben maradjon hazánkban.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 about-image">
          <div class="about-image2">
            <img src="assets/img/about3.png" class="img-responsive" alt="">
          </div>
        </div>
        <div class="col-md-6 text-center">
          <p>2016-ban Magyarország ismét megkapta a világbajnokság rendezési jogát, és vele együtt mi is az újabb bizonyítási lehetőséget, így a 2008 után csatlakozott tagjaink is átérezhetik azt az örömöt, amikor több ezer magyar szurkoló tapsol ujjongva egy tökéletes kűrt követően.</p>
          <p>Persze nemcsak azon a húsz sportolón múlik a siker, akik jégre lépnek. A szövetség, az edzőink, a támogatóink és a szurkolóink nélkül nem tartanánk itt. Az általuk befektetett energia és munka teszi lehetővé számunkra azt, hogy nekünk már csak a tökéletes programok kivitelezésével kelljen foglalkoznunk. Hiszen egy csapat csak akkor lehet igazán sikeres, ha mindenki egyet akar: győzni.</p>
          <p>Így a 2016-os világbajnokságon nem is lehet számunkra más a cél, minthogy a maximumot nyújtsuk és megmutassuk, a sok edzés, jégen töltött óra nem volt hiába, hiszen olyen jól még nem szerepelt a nemzetközi versenyeken a magyar csapat, mint az 2015/2016-os szezonban. A budapesti világbajnokságon is törekszünk a hibátlan teljesítményre, és hogy bebizonyítsuk, ott a helyünk a világ élvonalában!</p>
          <p>Mindannyiunk célja legjobbnak lenni a legjobbak között. De csakis közösen, Team Passionként.</p>
        </div>
      </div>
    </div>
  </section>
</div>
