<div class="portfolio-modal modal fade" id="newsModal1" tabindex="-1" role="dialog" aria-hidden="true" style="background-image: url('assets/img/creative/news/bg-salz.jpg')">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h2>MOZART CUP 2016</h2>
            <p><font size="+2"><i>Bemutatkozott a Team Passion</i></font></p>
            <hr class="colored">
            <p align="justify">A magyar szinkronkorcsolya-válogatott Salzburgban a Mozart Kupán szerepelt, melyen 13 csapat mérte össze tudását, köztük számos olyan is, amelyek majd a budapesti világbajnokságon is képviselik hazájukat.</p>
            <p align="justify">A Mozart Kupa a csapat felkészülésének egy nagyon fontos állomása volt, hiszen ez volt az első alkalom, amikor a válogatott a nemzetközi porondra kilépve azokkal a csapatokkal mérettetett meg, melyekkel a világbajnokságon is fog.</p>
            <p align="justify">Tisztában voltunk azzal, hogy nem lesz egyszerű egy év alatt hirtelen áttörni a skatulyát, mely élt a bírok és a technikai stáb fejében.</p>
            <div class="col-md-8 col-md-pull-4 col-md-offset-6">
              <img src="assets/img/creative/news/salz2.jpg" class="img-responsive portfolio-image" alt="">
            </div><p align="justify">A rövid program kötelező edzése jól sikerült, majd a csapat este a versenyen is egy lendületes, stabil korcsolyázást mutatott be, nagyobb rontások nélkül. Végül 37.97 pontot szerzett (16.67; 22.30) és ezzel a 8. helyen várta a folytatást.</p>
            <p align="justify">Az 5-8. helyezett között mindössze két pont különbség volt. A rövid programra kapott pontokon azonban már látszódott a pontozók teljes megosztottsága, hiszen a második pontszámban 4.00-7.00 között mindenféle értéket kaptunk, mely nagyon ritka. A verseny második napjának a kötelező edzésén, a csapaton jobban érződött az izgalom és a túlzott akarat, ezért az edzésen bemutatott programrészek bár lendületesek voltak, de nem pontosak.</p>
            <p align="justify">Este azonban a válogatott a szezon egyik legösszeszedettebb és legdinamikusabb kűrjével 91.46 pontot szerezve magabiztosan ugrott a cseh és a svájci csapat elé és végzett összesítésben a 6. helyen (Ez a két csapat a tavalyi világbajnokságon több, mint 20 ponttal volt előttünk!)</p>
            <div class="col-md-8 col-md-pull-4 col-md-offset-6">
              <img src="assets/img/creative/news/salz1.jpg" class="img-responsive portfolio-image" alt="">
            </div><p align="justify">A kűrre kapott pontszámok esetében fontos megjegyezni, hogy a csapat a dobogó 3. helyén végzett kanadai egyletet is megelőzve a harmadik legerősebb technikai pontot kapta programjára, ami azt jelenti, hogy az említett csapatok mellett a technikai pontok vonatkozásában az olasz, francia és kanadai csapatot is sikerült maga mögé utasítania, mely mindenképp óriási eredmény.</p>
            <p align="justify">A csapat idei évi nemzetközi bemutatkozása szenzációsan sikerült, a tavalyi pontszámon 30 pontot javított, és bízhat abban, hogy a szezon további részében ezt még növeli.</p>
          </div>
          <div class="col-lg-8 col-lg-offset-2">
            <ul class="list-inline item-details">
              <li>Dátum:
                <strong>2016. január 23.</strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Vissza</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
