<section id="video">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12 wow fadeIn">
        <h1>Videók</h1>
        <!--<p>I provide web design, web development, photography, and graphic design services.</p>-->
        <hr class="colored">
      </div>
      <div class="col-lg-12">
        <div class="col-lg-3">
          <div class="js-video [vimeo, widescreen]"><iframe src="https://player.vimeo.com/video/162434612" width="560" height="325" frameborder="0" allowfullscreen></iframe></div>
          <h5><font color=#f62459>Világbajnokság</font>
            <br><font color=black>Rövid program</font></h5>
        </div>
        <div class="col-lg-3">
          <div class="js-video [vimeo, widescreen]"><iframe src="https://player.vimeo.com/video/158157635" width="560" height="325" frameborder="0"  allowfullscreen></iframe></div>
          <h5><font color=#f62459>Világbajnokság</font>
            <br><font color=black>Kűr</font></h5>
        </div>

        <div class="col-lg-3">
          <div class="js-video [vimeo, widescreen]"><iframe src="https://player.vimeo.com/video/157954248" width="560" height="325" frameborder="0" allowfullscreen></iframe></div>
          <h5><font color=#f62459>Spring Cup</font>
            <br><font color=black>Rövid program</font></h5>
        </div>
        <div class="col-lg-3">
          <div class="js-video [vimeo, widescreen]"><iframe src="https://player.vimeo.com/video/158157635" width="560" height="325" frameborder="0"  allowfullscreen></iframe></div>
          <h5><font color=#f62459>Spring Cup</font>
            <br><font color=black>Kűr</font></h5>
        </div>
      </div>
    </div>
  </div>
</section>
